
#plugin-admin-analytics #view-selector {
    padding-bottom: 1rem;
    text-align: center;
    background-color: #476472;
}

#plugin-admin-analytics #view-selector table td {
    vertical-align: middle;
    line-height: 30px;
}

#plugin-admin-analytics .analytics-panel .admin-block {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}